# Elixir / BEAM
/_build/
/deps/
/*.ez
erl_crash.dump
/priv/native/
*.beam

# Rust / Rustler
/native/*/target/
/native/*/Cargo.lock

# Python
__pycache__/
*.py
.venv/

/nonode@nohost/
/Node_*/

.DS_Store
.elixir_ls/
.vscode/
.idea/
Thumbs.db

*.csv

GEMINI.md